* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.global-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  margin: auto;
}
h1 {
  margin-bottom: 2rem;
}
label {
  margin-bottom: -1rem;
}
input {
  height: 2rem;
  border-radius: 8px;
  border: none;
}
.input {
  height: 2rem;
  border-radius: 8px;
  border: none;
}
.form {
  width: 40vh;
  height: 100vh;
  background-color: #eed6d3;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.add {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: ease-in-out 0.2s;
  background-color: #e8b4b8;
}
.add:hover {
  transform: scale(1.05);
}
.add:active {
  transform: scale(1);
}
.right-side {
  width: 90vh;
  height: 100vh;
  background-color: #a49393;
}

.library {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 1rem;
}
.card {
  font-size: 0.9rem;
  width: 13rem;
  height: 8rem;
  border: 2px solid rgb(247, 245, 245);
  background-color: #67595e;
  color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 0.5rem;
  flex-direction: column;
  position: relative;
}

.delete {
  position: absolute;
  border: none;
  border-radius: 3px;
  padding: 4px 6px;
  top: 0.5rem;
  right: 0.5rem;
  background-color: rgb(247, 245, 245);
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.delete:hover {
  background-color: rgb(193, 126, 126);
}
.footer {
  margin-top: 20rem;
  font-weight: 600;
}
.fa-brands {
  cursor: pointer;
}
